name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: Unit tests with RSpec
    strategy:
      matrix:
        ruby:
          - '3.1.0'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run RSpec
      run: bundle exec rspec
